/catalog-local.xml
/ctxp.xpr
/dependency-reduced-pom.xml
/jats/jats-*/
/jats/nlm-*/
/jetty-temp-dir/
/log/
/.settings/org.eclipse.m2e.core.prefs
/setup-dev.sh
/styles/
/target/
/testlog/
/jats/
/apidocs/
/test.out
